<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Duration:</b>
  <%= @project.duration %>
</p>

<p>
  <b>Startdate:</b>
  <%= @project.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @project.enddate %>
</p>

<p>
  <b>Priority:</b>
  <%= @project.priority %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
