<p id="notice"><%= notice %></p>


  
  <%= button_to "Back to All Projects", projects_path, :method=>:get %>


<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Duration (hours):</b>
  <%= @project.duration %>
</p>

<p>
  <b>Startdate:</b>
  <%= @project.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @project.enddate %>
</p>

<p>
  <b>Priority:</b>
  <%= @project.priority %>
</p>

<p>
  <b>Complete:</b>
  <%= @project.complete %>
</p>


<br>
<h3>Sub-projects</h3>

 

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Duration (hours)</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.sub_projects.each do |sub_project| %>
  <tr>
    <td><%= link_to sub_project.name, sub_project %></td>
    <td><%= sub_project.description %></td>
    <td><%= sub_project.duration %></td>
    <td><%= sub_project.startdate %></td>
    <td><%= sub_project.enddate %></td>
    <td><%= sub_project.priority %></td>
    <td><%= link_to 'Show', sub_project %></td>
    <td><%= link_to 'Edit', edit_sub_project_path(sub_project) %></td>
    <td><%= button_to "delete", sub_project, :method=>:delete, :class=>:destroy %></td>
  </tr>
<% end %>
</table>

<br>
<h3>Create new sub-project:</h3>
<%= form_for([@project, @project.sub_projects.build]) do |f| %>
  

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :duration_in_hours %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.date_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br />
    <%= f.date_select :enddate %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
