<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sub_project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sub_project.description %>
</p>

<p>
  <b>Duration:</b>
  <%= @sub_project.duration %>
</p>

<p>
  <b>Startdate:</b>
  <%= @sub_project.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @sub_project.enddate %>
</p>

<p>
  <b>Priority:</b>
  <%= @sub_project.priority %>
</p>

<table>
 <tr>
      <td>
          <% unless @project.sub_projects.empty? %>
          <table>
              <%= render @sub_projects %>
          </table>  
            
          <%end %>

      </td>

 </tr>
</table>


<%= link_to 'Edit', edit_sub_project_path(@sub_project) %> |
<%= link_to 'Back', sub_projects_path %>
